.section1{

}
.section2{
    
}
.txtarea{
    height: 30rem;
}
@media screen and (min-width:480px){
    .section1{
        padding-left: 10rem;
    }
    .section2{
        padding-left: 10rem;
        padding-right: 7rem;
    }
}